/* CSS Document */



body {
	font-family: "Microsoft Yahei";
	background-color: #EEEFF1!important;
}
.cb {
	clear: both;
}
.cl {
	clear: left;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
*html .clearfix {
	height: 1%
}
.clearfix {
	display: block;
}
.ti5 {
	text-indent: 5px;
}
.ti10 {
	text-indent: 10px;
}
.ti20{text-indent: 20px;}
.ti27{text-indent: 27px;}
.fL {
	float: left;
}
.fR {
	float: right;
}
.mt25 {
	margin-top: 25px;
}
.mtop {
	margin-top: 24px;
}
.mtop10 {
	margin-top: 10px;
}
.ptop {
	padding-top: 30px;
}
.pt25 {
	padding-top: 25px;
}
.mtop2 {
	margin-top: 15px;
}
a {
	color: #4c4c4c;
}
.alignc {
	text-align: center;
}
.bordernone {
	border: 0 !important;
}
.content {
	width: 990px;
	min-height: 550px;
	margin: 0 auto;
	color: #828282;
	position: relative;
	margin-top: 40px;
}
.searchdiv {
	/*width:710px;*/
	width: 757px;
	height: 40px;
	margin: 0px auto;
	padding: 0;
	border: 1px #0099FF solid;
	border-radius: 3px;
	background-color: #fff;
	position: relative;
}
.searchdiv input {
	width: 600px;
	height: 40px;
	border: 0;
	float: left;
	font-size: 16px;
}
.searchicon {
	width: 80px;
	height: 38px;
	/*margin-left: 6px;*/
	border: 1px #0099FF solid;
	/*border-radius:2px;*/
	background: #0099FF;
	float: right;
	cursor: pointer;
	text-align: center;
}
.searchicon img {
	padding-top: 7px;
}
.mleft {
	margin-left: 172px;
}
.mright {
	margin-right: 240px;
}
.heading {
	font-size: 16px;
	color: #4c4c4c;
	font-weight: bold;
}
.heading a {
	color: #1c6b85 !important;
}
.templates ul li {
	display: inline;
	float: left;
}
.tabs {
	border-left: 1px #dbdbdb solid;
	border-top: 1px #dbdbdb solid;
	border-right: 1px #dbdbdb solid;
	border-bottom: 1px #dbdbdb solid;
	background-color: #fafafa;
	padding: 3px 10px;
}
.tabs:hover {
	background-color: #fefefe;
}
.temhead {
	position: absolute;
	left: 140px;
	top: -27px;
}
.temhead li {
	height: 19px;
}
.temhead .active {
	border-bottom: 1px #fafafa solid;
}
.temheaddiv {
	border: 1px #dbdbdb solid;
	min-height: 419px;
	height: 478px;
}
.proheaddiv {
	/*border:1px #dbdbdb solid;*/
	min-height: 419px;
	background-color: #fff;
}
.temhead li:first-child {
	margin-right: 10px;
}
.temsheaddiv {
	border: 1px #dbdbdb solid;
	min-height: 886px;
}
.sort {
	height: 30px;
	border-bottom: 1px #dbdbdb solid;
	background-color: #fafafa;
}
.sort .heading a {
	font-size: 14px;
	color: #4c4c4c;
}
.sort ul {
	padding-top: 5px;
	padding-left: 12px;
}
.sort ul li {
	margin-left: 23px;
}
.sort ul li:first-child {
	margin-left: 10px;
}
.sort ul li a {
	color: #828282;
}
.sort ul li a:hover {
	color: #1c6b85;
}
/****æ¨¡æ¿****/

.temdiv {
	padding: 14px 24px;
	min-height: 400px;
}
.reldiv {
	padding: 20px 40px;
	min-height: 400px;
}
.reldiv h1.h3{font-size: 1.17rem;color:#4c4c4c;}
.tem,
.tem_r,
.tem_l,
.tem_dashed,
.tem_subj {
	/*border-bottom:1px #dbdbdb solid;*/
	/*padding-bottom: 16px;*/
	/*margin-bottom: 14px;*/
	border-radius: 5px;
	padding: 20px;
}
/*.tem:hover,.Mbdiv_list_r .tem_l:hover{
background-color:#F2F9FF;
}*/
.tem_subj .text{
	padding-top:0;
}
.tem:last-child {
	border: none;
}
.temtitle,
.temtitleb {
	position: relative;
}
.temtitle a,
.temtitleb a {
	display: inline-block;
	*disply: inline;
}
.Mbgen_title li a:hover,
.temtitle a:hover,
.temtitleb a:hover,
.temtitleb p:hover,
.hotwords a:hover
 {
	text-decoration: none;
	color: #0199FE;
}
.more:hover,.pagenum a:hover {
	text-decoration: none;
	color: #0199FE!important;
}
.temtitle p,
.temtitleb p,
.temtitleb p:hover {
	font-size: 16px;
	cursor: pointer;
	padding-bottom: 7px;
	/*color:#0199FE;*/
}
.temtitle span {
	position: absolute;
	right: 0px;
}
.temcon {
	padding-left: 0px;
}
.temcon span {
	display: inline-block;
	padding: 0 5px 0 0;
}
.temwelcome{ margin-top: 2px; line-height: 22px; height: 44px;overflow: hidden;position: relative; overflow : hidden;
text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;} 
/* .temwelcome i{display: inline-block; position: absolute; right: 0px; bottom: 0px; height: 22px; line-height: 22px; padding: 0 5px 0px 5px; background: #fff; font-style: normal;} */
.more {
	text-align: center;
	font-size: 15px;
	color: #1c6b85;
	margin-top: 6px;
}
.more a {
	color: #1c6b85;
}
/********å³è¾¹è¯´æ˜ŽåŒºåŸŸ******/

.rightdiv {
	width: 230px;
	position: absolute;
	right: 0;
	top: 110px;
}
h3 {
	
	color: #4c4c4c;
	
}
.rightdiv .explandiv {
	border: 1px #dbdbdb solid;
	padding-bottom: 20px;
	height: 568px;
}
.rightdiv .explandiv:first-child {
	height: 387px;
}
.explanhead {
	height: 30px;
	background-color: #fafafa;
}
.info_m {
	width: 230px;
	min-height: 75px;
	position: relative;
	padding: 15px 0 0px 0;
}
.info_mp {
	padding: 0 11px;
}
.info_r {
	padding-left: 85px;
	position: relative;
	font-size: 14px;
	color: #A1A1A1;
}
.info_r h2 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 4px 0;
	color: #666666;
}
.ifi1 {
	background-position: 3px 3px;
}
.ifi2 {
	background-position: -79px 3px;
}
.ifi3 {
	background-position: -155px 3px;
}
.ifi4 {
	background-position: -238px 3px;
}
.infoImg {
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url(/static/images/wenjuanku_bigbutton.png);
	background-repeat: no-repeat;
}
/*-------------æŒ‰é’®----------------------*/

.WJButton {
	font-weight: bold;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: normal;
	padding: .5em 2.8em .5em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}
.wj_color {
	color: #F7F7F7;
	/*background: #f07804;*/
	/*æŒ‰é’®æ ·å¼*/
	background: #0099FF;
}
.wj_color:hover {
	/*background: #ff9900;*/
	/*æŒ‰é’®æ‚¬æµ®æ ·å¼*/
	opacity: 0.6;
}
.wj_color:active {
	/*color: #836500;*/
	/*æŒ‰é’®ç‚¹å‡»æ ·å¼*/
	background: #0099FF;
}
.create_Wj {
	float: left;
	margin: 22px 0 0 28px;
}
.type {
	padding: 15px 20px;
}
.type li {
	padding: 4px 0;
}
.icon i {
	width: 26px;
	height: 26px;
	background: url(/static/images/all_qustion.png) 0 0 no-repeat;
	display: inline-block;
	margin-right: .5em;
	vertical-align: middle;
}
.brand i {
	background-position: -7px -7px;
}
.product i {
	background-position: -7px -47px;
}
.consumer i {
	background-position: -7px -86px;
}
.satis i {
	background-position: -7px -127px;
}
.human i {
	background-position: -7px -167px;
}
.edu i {
	background-position: -7px -207px;
}
.opinion i {
	background-position: -7px -246px;
}
.food i {
	background-position: -47px -7px;
}
.apparel i {
	background-position: -47px -46px;
}
.digital i {
	background-position: -47px -86px;
}
.maternal i {
	background-position: -47px -127px;
}
.commodity i {
	background-position: -47px -167px;
}
.car i {
	background-position: -47px -207px;
}
.appliance i {
	background-position: -47px -246px;
}
/*******è¯¦ç»†é¡µé¢******/

.breadcrumbs {
	padding-top: 5px;
	*padding-top: 7px;
	padding-top: 7px \0;
	background: #efefef;
	height: 26px;
}
.breadcrumbs ul {
	margin-left: 15px;
}
.breadcrumbs ul li {
	margin-left: 5px;
}
.breadcrumbs .active {
	color: #1c6b85;
	border: 0;
}
.listdiv {
	padding: 20px 20px 0 20px;
	min-height: 821px;
}
.leftdiv {
	left: -165px;
	position: absolute;
	top: 0;
	width: 165px;
}
.templates {
	position: relative;
}
.leftdiv ul li {
	float: none;
	padding: 3px 0;
	display: block;
}
.leftdiv ul {} .title {
	font-size: 18px;
	padding-bottom: 5px;
}
.leftdiv .active {
	color: #1c6b85;
	font-weight: bold;
}
.tips {
	width: 162px;
	border: 1px #dbdbdb solid;
	font-size: 12px;
}
.tips .tipstitle p {
	padding: 5px 10px;
	font-size: 14px;
	background: #fafafa;
}
.tips p {
	padding: 10px;
	line-height: 20px;
}
.result {
	background-color: #efefef;
	height: 30px;
}
.result h3 {
	padding: 5px 20px;
	*padding: 7px 26px 3px 20px;
	padding: 7px 26px 3px 20px \0;
}
.result .active {
	color: #1c6b85;
}
.lookdiv {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #4c4c4c;
}
.lookicon i {
	background-position: -21px -164px;
	width: 19px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("/static/images/wjsj_toolico_off.png");
	background-repeat: no-repeat;
	margin-right: .1em;
}
.active i {
	background-image: url("/static/images/wjsj_toolico.png") !important;
}
.wjhr {
	background: #ccc;
	height: 2px;
	width: 100%;
}
.ques p {
	padding: 4px 0;
	color: #4c4c4c;
}
.resultbtn {
	text-align: center;
}
.relateddiv {
	/*border:1px #dbdbdb solid;*/
	min-height: 100px;
	background-color: #fff;
	padding: 0px 0 20px 0;
}
.related {
	padding: 20px 10px 10px 10px;
}
.related ul {
	height: 54px;
}
.related ul li {
	width: 400px;
	padding: 5px 40px;
}
/*.clearfix a { display:inline-block;}*/

.text {
	/*padding:8px 0;*/
	padding-top: 15px;
}
.N_view {
	background: url("/static/images/xjwn_index_button.png") no-repeat scroll -325px -11px transparent;
	height: 20px;
	position: absolute;
	right: 60px;
	width: 31px;
	top: 0px;
}
/*------------------------é—®å·åº“é¦–é¡µ------------------------------*/

.mb_con {
	position: relative;
	width: 100%;
	margin-bottom: 0px;
}
.mb_con_z {
	/*width:820px;*/
	width: 804px;
	margin-left: 175px;
	background-color: #fff;
	/*border:1px solid #ddd;*/
	border-radius: 2px;
}
.mb_con_l {
	margin-top: -20px;
	/*width:240px;*/
	width: 160px;
	/*position:absolute;*/
	/*	top:0px;
	left:0px;*/
	/*min-height:300px;*/
	float: left;
	/*	border:1px solid #dddddd;
background-color: #fff;
border-radius: 3px;*/
}
.Mbdiv {
	/*min-height: 400px;*/
	/*border:1px solid #DBDBDB;*/
	/*margin-bottom: 20px;*/
	display: inline-block;
	width: 100%;
}
.Mbdiv_title {
	/*width:399px;*/
	height: 58px;
	line-height: 58px;
	background: #fff;
	padding: 0 40px;
	/*	border-top:3px solid #0099FF;*/
	/*	display:inline;*/
}
.Mbdiv_title h2 {
	/*color:#1C658B;*/
	float: left;
	font-size: 18px;
	float: left;
	text-indent: 27px;
	background-image: url("/static/images/mbbg.png");
	background-repeat: no-repeat;
	background-position: 0 15px;
	/*font-weight: bold;*/
	/*	line-height: 28px;*/
}
.Mb_more {
	float: right;
	color: #B9B9B9;
	font-size: 16px;
	line-height: 60px;
}
.Mb_more:hover {
	color: #0199FE;
}
.mb_official {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
}
.Mbdiv .mb_official:last-child,
.Mbdiv .tem:last-child {
	border: none;
}
.official_con {
	margin-left: 160px;
	min-height: 120px;
	*height: 120px;
}
.official_con h3 {
	color: #585858;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0 10px 0;
}
.official_con h3 a {
	display: inline;
}
.official_con h3 a:hover {
	color: #1C658B;
}
.official_line a {
	display: inline;
}
.official_line a:hover {
	text-decoration: underline;
}
.official_line li {
	font-size: 16px;
	color: #585858;
	margin-left: 15px;
	list-style: disc!important;
}
.official_line .official_l_ts {
	font-size: 14px;
	float: right;
}
.official_icon {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0px;
	left: 10px;
	background: url(/static/images/all_qustion_max.png) 0 0 no-repeat;
}
.brand_mb {
	background-position: 0px 0px;
}
.product_mb {
	background-position: 0px -120px;
}
.consumer_mb {
	background-position: 0px -240px;
}
.satis_mb {
	background-position: 0px -360px;
}
.human_mb {
	background-position: 0px -480px;
}
.edu_mb {
	background-position: 0px -600px;
}
.opinion_mb {
	background-position: 0px -720px;
}
.food_mb {
	background-position: 0px -840px;
}
.apparel_mb {
	background-position: 0px -960px;
}
.digital_mb {
	background-position: 0px -1080px;
}
.maternal_mb {
	background-position: 0px -1200px;
}
.commodity_mb {
	background-position: 0px -1320px;
}
.car_mb {
	background-position: 0px -1443px;
}
.appliance_mb {
	background-position: 0px -1562px;
}
/*----------*/

.mb_menu {
	background: #F8F8F8;
	border: 2px solid #69B1D6;
	min-height: 460px;
	*height: 470px;
	padding-top: 10px;
}
.mb_menu_title {
	height: 32px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	color: #1C658B;
	margin: 0 15px;
	border-bottom: 1px solid #D2D2D2;
}
.mb_menu_con h3 {
	padding: 5px 0px;
	font-weight: bold;
}
.mb_menu_con {
	padding: 5px 20px;
}
.mb_menu_con .ify {
	display: inline-block;
	_zoom: 1;
	*display: inline;
	margin: 2px 5px 2px 0;
	line-height: 25px;
}
.mb_menu_con .ify:hover {
	color: #1C658B;
}
.mb_con_l .explandiv {
	margin-top: 20px;
	border: 1px solid #DBDBDB;
	min-height: 479px;
}
.mb_con_l .explandiv .xs1 h3 {
	font-weight: bold;
}
.mb_con_l .explandiv .xs2 {
	margin: 20px 0 10px 0;
}
.mb_con_l .explandiv .xs2 h3 {
	font-weight: bold;
}
/*--------------hy3----------------*/

.mb_con_group {
	margin-bottom: 13px;
	/*margin-top:7px;*/
	border-radius: 2px;
	/*border:1px solid #ddd;*/
	padding-bottom: 5px;
	background-color: #fff;
}
.mb_con_group a {
	/*display: inline-block;*/
	_zoom: 1;
	*display: inline;
}
.mb_con_group .ul-capability a:hover {
	color: #F07804;
}

.gn_list .active,
.gn_list .active a,
.hy_list .active,
.hy_list .active a {
	background-color: #6FC5FF;
	color: #fff;
}
.mb_con_group .h1 {
	font-size: 18px;
	color: #1C658B;
	line-height: 48px;
	height: 48px;
	/*background-color: #F6F8F7;*/
	/*border-bottom: 1px solid #ddd;*/
	padding-left: 20px;
	position: relative;
	color: #383838;
}
.mb_con_group h6 {
	font-size: 14px;
	color: #4C4C4C;
	line-height: 21px;
	margin-top: 10px;
}
.mb_con_group .ul-capability {
	margin: 0px 0 10px 0;
}
.mb_con_group .ul-capability li {
	font-size: 14px;
	/*text-indent: 5px;*/
	padding-left: 10px;
	line-height: 32px;
	margin: 0 10px;
}
.liblue li:hover {
	background-color: #6FC5FF;
	opacity: 0.6;
	color: #fff!important;
}
.liorange li:hover,
.liorange .active {
	background-color: #FFB286;
	color: #fff!important;
}
.liorange li a:hover {
	color: #fff!important;
}

/*.tem_subj:hover{
background-color:#E4F5FF;
}*/

.liblue li a:hover {
	color: #fff!important;
}
.mb_con_group h6 i {
	display: inline-block;
	width: 12px;
	height: 15px;
	margin: 1px 0 0 5px;
	vertical-align: middle;
	background: url(/static/images/xjwn_index_button.png) no-repeat -364px -24px;
}
.icon_on {
	background: url(/static/images/xjwn_index_button.png) no-repeat -364px -4px!important;
}
.Mbdiv_list {
	/*clear: both;*/
	padding: 0px 20px 10px 20px;
	min-height: 400px;
}
.focus_c {
	color: #F07804!important;
	border-left: 4px solid #F07804;
	padding-left: 6px!important;
}
/*.gn_list li .list_a:hover{color:#F07804;}
.hy_list li .list_a:hover{color:#F07804;}*/

/*.gn_list li a,.hy_list li a{ padding-left: 10px;}
.gn_list .title,.hy_list .title{ padding-left: 0px;}*/

.gn_list a,
.hy_list a {
	display: block;
	width: 100%;
}
.nav_block li {
	float: inherit!important;
}
/*--------------å¸®åŠ©ä¸­å¿ƒ--------------*/

.help_list .noimg {
	padding-left: 0px!important;
}
.mb_content {
	width: 960px;
	margin: 0 auto;
}
.mb_Banner {
	width: 100%;
	padding: 15px 0;
	background-color: #F0F8FF;
	margin-bottom: 5px;
	margin-top: 5px;
}
.mb_Banner h2 {
	color: #979797;
	font-size: 24px;
	width: 960px;
	margin: 0 auto;
	line-height: 24px;
}
.mb_help {} .help_list {
	float: left;
	width: 33%;
	margin-bottom: 20px;
	height: 230px!important;
	min-height: 200px;
}
.help_list h2 {
	padding-top: 20px;
	padding-left: 60px;
	line-height: 30px;
	height: 30x;
	margin: 0px;
	font-size: 18px;
	font-family: "microsoft yahei";
	color: #4A4A4A;
}
.list_ht {
	height: 50px;
	position: relative;
}
.list_ht .hi {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	/*	background-image:url(/static/images/help_button.png);
	background-repeat:no-repeat;*/
}
.list_ht .ia {
	background-position: 0 0;
}
.list_ht .ib {
	background-position: 0 -50px;
}
.list_ht .ic {
	background-position: -50px 0;
}
.list_ht .id {
	background-position: -50px -50px;
}
.help_ul {
	margin: 10px 0 0 0;
	overflow: hidden;
}
.help_ul li {
	float: left;
	width: 100%;
	line-height: 26px;
	position: relative;
	/*list-style-image:url('/static/images/point.png');*/
}
.help_ul li i {
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 12px;
	left: 0px;
	background: url('/static/images/point.png') 0 0 no-repeat;
}
.help_ul li a {
	float: left;
	color: #919191;
	font-size: 14px;
	padding-left: 10px;
}
.help_ul li a:hover {
	color: #9FD2FE;
}
.help_more {
	float: left;
	margin-top: 10px;
	color: #ACACAC;
	padding: 3px 10px;
	color: #fff;
	background-color: #8DC6F3;
}
.atc {
	color: #5B5B5B!important;
}
.help_list_s {
	padding-left: 30px;
}
.help_list_s h2 {
	font-size: 18px;
	color: #777;
}
.help_list_s {
	padding-left: 30px;
}
.help_list_s ul {
	margin-bottom: 15px;
	margin-top: 5px;
}
.help_list_s li {
	border-bottom: 1px solid #F0F0F0;
	line-height: 26px;
}
.help_list_s ul li a {
	font-size: 14px;
	color: #CBCBCB;
}
.help_list_s ul li a:hover {
	color: #4C4C4C;
}
.help_con {
	border: 1px solid #DBDBDB;
	min-height: 500px;
	padding: 20px;
	*height: 500px;
}
.help_con > h2 {
	font-size: 21px;
	margin-bottom: 25px;
}
.H_list {
	cursor: pointer;
	padding: 5px 10px;
	color: #1C658B;
	font-size: 18px;
}
.gd_t {
	color: #F07804;
}
.H_list:hover {
	text-decoration: underline;
}
.H_list_n {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
	padding: 10px 0;
	margin: 5px 10px;
}
.help_animation {
	margin-top: 10px;
	display: inline-block;
	padding: 1px;
	position: relative;
}
.help_animation:hover {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.help_paly {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	background: url(/static/images/play.png) center center no-repeat;
}
.help_mask {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .4;
	*filter: alpha(opacity=40);
	filter: alpha(opacity=40);
	background-color: #fff;
}
.PackUp {
	height: 28px;
}
.PackUp a {
	float: right;
}
.PackUp span {} .pic_cancel {
	width: 37px;
	height: 37px;
	position: absolute;
	cursor: pointer;
	background: url(/static/images/pic_ico.png) 0 0 no-repeat;
}
.red {
	color: #F00;
}
.wjtable {
	border-top: 1px #dbdbdb solid;
	border-left: 1px #dbdbdb solid;
	width: 100%;
	text-align: center;
}
.wjtable tr td {
	border-right: 1px #dbdbdb solid;
	border-bottom: 1px #dbdbdb solid;
	padding: 5px 0;
}
.wjtable tr td input {
	margin-bottom: 4px;
	margin-top: 5px;
}
.blue_an {
	display: inline-block;
	/*color: #1C658B;*/
	color: #0099FF;
}
.wjques {
	margin-bottom: 10px;
}
.wjques .title {
	font-size: 14px;
	color: #4c4c4c;
	margin-left: -10px;
	padding-bottom: 3px;
}
.wjques .icheckbox_div {
	line-height: 25px;
}
.wjques .table td {
	text-align: center;
}
.wjques .table {
	margin: 15px 0;
}
.library_top {
	height: 75px;
	width: 100%;
	padding: 36px 0 30px 0;
}
.library_top_con {
	width: 990px;
	margin: 0 auto;
}
.library_nav {
	float: left;
	padding-left: 157px;
}
.library_nav .LibFocus {
	border-bottom: 3px solid #F07804;
}
.library_nav .LibFocus {
	color: #4D7E9C!important;
}
.library_nav li {
	float: left;
	height: 72px;
	padding: 0 15px;
	line-height: 72px;
	font-size: 18px;
}
.library_nav a:hover {
	color: #4D7E9C!important;
}
.LibSoso {}
.LibSoso input {
	float: left;
	font-size: 16px;
	height: 30px;
	padding: 5px 0;
	width: 550px;
	display: inline;
	margin-left: 18px;
}
/*æ¨¡æ¿åº“*/

.wjContent {
	background-color: #EEEFF1!important;
}
.selected_nav {
	width: 90px;
	height: 30px;
	float: left;
	/*z-index: 99;*/
	z-index: 99;
	position: relative;
	border-right: 1px #ccc solid;
	margin-top: 3px;
	border-left: 1px solid #0099FF;
	left: -1px;
}
.selected_nav li {
	font-size: 16px;
	line-height: 35px;
	text-indent: 23px;
	height: 37px;
	width:90px;
	background-color: #fff;
	cursor: pointer;
	position: relative;
	left: -1px;
	border-left: 1px solid #0099FF;
	left: -1px;
}
.arrow {
	position: absolute;
	z-index: 100;
	height: 0;
	width: 0;
	top: 16px;
	left: 69px;
	float: right;
	border-width: 5px 5px 0px;
	border-style: solid dashed dashed;
	border-color: #989697 transparent transparent
}
.arrowr {
	position: absolute;
	height: 0;
	width: 0;
	top: 6px;
	*top: 20px;
	right: 9px;
	float: right;
	border-top: 5px solid transparent;
	border-left: 5px solid #989697;
	border-bottom: 5px solid transparent;
}
.bbottom {
	border-bottom: 1px solid #ddd;
	width: 725px;
	display: inline-block;
	margin: 20px 35px 0 35px;
}

.fblue,
.fblue a {
	color: #009AFF;
}
.Mbdiv_list_r {
	min-height: 180px;
}
.Mbdiv_list_r .tem_l {
	margin: 0 0px 0 20px;
	float: left;
	display: inline-block;
	width: 350px;
	border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.tem_r,
.tem_l {
	border-bottom: none;
}
.tem_r {
	padding-left: 25px;
}
.tem_l {
	padding-right: 0px;
	width: 360px;
	display: inline-block;
	float: left;
}
.hotwords {
	line-height: 35px;
	text-indent: 120px;
	color: #545454;
}
.hotwords a{
	display:inline;
	padding:0 5px;
}
.Mbtab_title {
	width: 268px;
	height: 58px;
	line-height: 58px;
	background: #fff;
	border-top: 3px solid #0099FF;
	float: left;
	display: inline;
}
.Mbtab_title h2 {
	font-size: 18px;
	text-align: center;
}
.titlebg,
.titlebg_r {
	border-top: none;
	background-color: #F8F8F8;
}

.Mbdiv_title h2 {} .more {
	display: block!important;
	text-indent: 86px;
	color: #ccc;
}
.tem_dashed {
	border-bottom: 1px dashed #E9E9E9;
}
.Mbgen_title {
	height: 49px;
	line-height: 49px;
	background: #fff;
	padding: 0 40px;
	font-size: 15px;
	color: #5B5B5B;
	background-color: #F6F6F6;
}
.Mbgen_title li a,
.Mbgen_title li {
	display: inline;
	position: relative;
	color: #999;
}
.Mbgen_title li {
	padding-right: 20px;
}
.Mbgen_title li .active {
	color: #333!important;
}
.Mbgen_title span{color:#E74D4B}
.resume,
.resume:hover{
	font-size: 14px;
	color: #ccc!important;
	padding-left: 5px;
}
.pagenum {
	height: 40px;
	line-height: 21px;
	padding: 2px 32px;
}
.pagenum span,
.pagenum a {
	display: block;
	padding: 0 10px;
	float: left;
}
.pagenum .pre,
.pagenum .next {
	height: 24px;
	width: 24px;
	display: block;
	padding: 0;
}
.pagenum .pre {
	background-image: url(/static/images/cpre.png);
	background-repeat: no-repeat;
}
.pagenum .next {
	background-image: url(/static/images/cnext.png);
	background-repeat: no-repeat;
}
.pre:hover{background:url(/static/images/cpre_active.png) no-repeat;cursor:pointer}
.next:hover{background:url(/static/images/cnext_active.png) no-repeat;cursor:pointer}
.pagenum .active {
	background-color: #6FC5FF;
	color: #fff;
	margin-left: 8px;
}
.cl {
	clear: left;
}
.w980 {
	width: 980px;
	margin-left: 0;
}
.tem_subj {
	display: inline;
	float: left;
	width: 263px;
	height:78px;
	padding: 10px 20px;
	margin-top: 20px;
	overflow:hidden;
}
.Mbdiv_list h1 {
	text-align: center;
	line-height: 30px;
	padding-bottom: 30px;
}
.mb_con_r {
	width: 160px;
	min-height: 300px;
	float: right;
}
.ml {
	margin-left: 15px;
	float: left;
}
.tab_dark,
.tab_blue,
.tab_yellow,
.tab_green,
.tab_violet {
	/*background-image: url(/static/images/arrowbg.png);*/
	background-position: right 0;
	background-repeat: no-repeat;
	display: inline-block;
	color: #fff;
	height: 23px;
	line-height: 23px;
	margin: 10px 5px;
	padding: 0 14px 0 8px;
	border-radius: 3px;
	position:relative;
}
.tab_blue {
	background-color: #0099FF;
	width: initial!important;
	*width: initial!important;
}
.tab_dark {
	background-color: #ADADAD;
}
.tab_yellow {
	background-color: #F6B750;
}
.tab_green {
	background-color: #99CD00;
}
.tab_violet {
	background-color: #9184BC;
}
.kwtabs {
	padding: 10px;
}
.kwtabs a {
	min-width: 20px!important;
}
.Mbcon {
	margin: 10px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E9E9E9;
}
.Mbcon h1 {
	text-align: center;
}
.temtitleb p {
	color: #373737;
}
.h930 {
	min-height: 930px;
}
.mh800{min-height: 800px;}
.mh1065{min-height: 1065px;}
.w730 {
	width: 720px;
	display: inline-block;
}
.Mb_hr {
	height: 0;
	background-color: #fff;
	border: 1px solid #fff;
	margin-top: 0;
	display: none;
}
.tip {
	background-image: url(../../static/images/tip_ico.png);
	padding: 50px 11px 20px 13px;
	background-repeat: no-repeat;
	background-position: 15px 10px;
	font-size: 12px;
}
.Mbtab_title a {
	display: block;
	width: 100%;
}
.liorange a,.liblue a,{
	width:100%!important;
	display:inline-block!important;
}
a{color:#717171;}
.N_view{position:static;float:right;margin-right: 10px;margin-top: 5px;background: url(/static/images/xjwn_index_button1.png) no-repeat;width:49px;height:21px;}
.N_view:hover{background: url(/static/images/yulanxuanzhong.png) no-repeat;}
.arrowl{
	position: absolute;
	height: 0;
	width:0;
	right:0;
	border-top: 12px solid transparent;
	border-right:7px solid #fff;
	border-bottom: 12px solid transparent;
}

.related_info { background: #fff;}
.related_info ul { padding: 15px 30px; overflow: auto; zoom:1;}
.related_info li { width: 280px; padding: 0 15px; float: left;}
.related_info li .title { position: relative; line-height: 27px;}
.related_info li .title h3 { font-size: 18px;}
.related_info li .title a { position: absolute; right: 0; top: 0; font-size: 12px; color: #00d5ff;}
.related_info li .list a { margin-top: 6px; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


.temtitle span.label {
	position: relative;
	margin-left: 10px;
}

.temtitle button.btn-warning {
	padding:0px;
}
